html, body, iframe {
  height: 100%;
}

body {
  font: 12px "Lucida Grande", sans-serif;
  margin: 0;
  padding: 1rem;
}

header {
  width: 100%;
  padding: 10px 0 0 0;
  margin: 0;
  background: white;
  font: 12px "Lucida Grande", sans-serif;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
}

dl {
  margin: 0 0 10px 0;
  padding: 0;
}

dt {
  width: 80px;
  padding: 1px;
  float: left;
  clear: left;
  text-align: right;
  color: #7f7f7f;
}

dd {
  margin-left: 90px; /* 80px + 10px */
  padding: 1px;
}

dd:empty:before {
  content: "\00a0"; // &nbsp;
}

.headers {
  th {
    font-weight: inherit;
    color: #7f7f7f;
    text-align: right;
    white-space: nowrap;
  }
}

iframe {
  border: 0;
  width: 100%;
}

nav {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-list {
  border-collapse: collapse;
  width: 100%;

  th, td {
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #495057;
  }
}

.btn {
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  padding-bottom: 0.125rem;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  padding-top: 0.125rem;
  background-color: white;
  color: rgb(31 41 55);
  border-color: rgb(156 163 175);

  &:hover {
    background-color: rgb(243 244 246);
  }
}
